{% extends 'base.html' %}

{% block title %}AI Model List{% endblock %}

{% block contents %}
<div class="container mt-5">
    <h1>AI Model を編集</h1>
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            {% for ai_model in ai_models %}
            <tr>
                <td>{{ ai_model.user.username }}</td>
                <td>{{ ai_model.image_generation.title }}</td>
                <td>{{ ai_model.created_at }}</td>
                <td>{{ ai_model.updated_at }}</td>
                <td>
                    <a href="{% url 'ai_models:ai_model_detail' ai_model.pk %}" class="btn btn-info btn-sm">View</a>
                    <a href="{% url 'ai_models:ai_model_update' ai_model.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'ai_models:ai_model_delete' ai_model.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ai_models:ai_model_create' %}" class="btn btn-success">AIモデルを作成</a>
    <a href="{% url 'ai_models:ai_model_index' %}" class="btn btn-secondary mt-3">AIモデル一覧に戻る</a>
</div>
{% endblock %}


