{% extends 'base.html' %}
{% load static %}

{% block title %}Image Generator{% endblock %}

{% block contents %}
<div class="container mt-5">
    <h1 class="text-center text-success">Image Generator</h1>
    <form id="image-form" method="post" action="{% url 'image_generation:generate_image' %}" class="text-center">
        {% csrf_token %}
        <label for="input-text" class="form-label text-light">生成したい画像の命令</label>
        <input type="text" id="input-text" name="input-text" required class="form-control d-inline-block w-50 mb-3">
        <button type="submit" class="btn btn-outline-light">クリック</button>
    </form>
    <div id="image-result" class="text-center mt-4">
        <h2 class="text-success">生成画像</h2>
        <img id="generated-image" src="" alt="Generated Image" style="display: none; max-width: 65%; height: auto; margin-bottom: 10px; cursor: pointer;">
    </div>
    <!-- アーキテクチャ図とAI model情報とAI開発会社を探すのボタン -->
    <div class="text-center mt-4">
        <a href="{% url 'partners:index' %}" class="btn btn-outline-light">AI開発会社を探す</a>
        <a href="https://ja.stability.ai/" target="_blank" class="btn btn-outline-light">開発会社情報</a>
        <a href="https://ja.stability.ai/blog/sdxl10" target="_blank" class="btn btn-outline-light">AI model情報</a>
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#architectureModal">
            アーキテクチャ図
        </button>
        <a id="download-link" href="#" download="generated_image.png" style="display: none" class="btn btn-outline-light">画像を保存</a>
    </div>
</div>

<!-- モーダルウィンドウ -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Generated Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modal-image" src="" alt="Generated Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- アーキテクチャ図のモーダル -->
<div class="modal fade" id="architectureModal" tabindex="-1" aria-labelledby="architectureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="architectureModalLabel">アーキテクチャ図</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="{% static 'img/image_geneアーキテクチャ図.png' %}" alt="アーキテクチャ図" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('image-form').addEventListener('submit', async function(event) {
        event.preventDefault();
        const inputText = document.getElementById('input-text').value;
        const form = event.target;
        const actionUrl = form.action;
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const response = await fetch(actionUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({input_text: inputText})
        });

        const data = await response.json();
        console.log('API Response:', data);

        if (data.image_path) {
            const imageUrl = window.location.origin + data.image_path;
            document.getElementById('generated-image').src = imageUrl;
            document.getElementById('generated-image').style.display = 'block';
            document.getElementById('download-link').href = imageUrl;
            document.getElementById('download-link').style.display = 'block';

            // モーダル表示のためのイベントリスナーを追加
            document.getElementById('generated-image').addEventListener('click', function() {
                document.getElementById('modal-image').src = imageUrl;
                var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
                imageModal.show();
            });
        } else {
            console.error('Image URL not found in response:', data);
        }
    });
</script>
{% endblock %}











