{% extends 'base.html' %}

{% block title %}Image Generator{% endblock %}

{% block contents %}
<div class="container mt-5">
    <h1>画像生成</h1>
    <form id="image-form" method="post" action="{% url 'image_generation:generate_image' %}">
        {% csrf_token %}
        <label for="input-text">生成したい画像の命令</label>
        <input type="text" id="input-text" name="input-text" required>
        <button type="submit">クリック
        </button>
    </form>
    {% comment %} 画像生成領域 {% endcomment %}
    <div id="image-result">
        <h2>生成画像</h2>
        {% comment %} 生成された画像を表示するためのイメージタグ {% endcomment %}
        <img id="generated-image" src="" alt="Generated Image" style="display: none">
    </div>
</div>

{% comment %} JS部分 {% endcomment %}
<script>
    document.getElementById('image-form').addEventListener('submit', async function(event) {
        event.preventDefault();
        const inputText = document.getElementById('input-text').value;
        const form = event.target;
        const actionUrl = form.action;
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const response = await fetch(actionUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({input_text: inputText})
        });

        const data = await response.json();
        console.log('API Response:', data);  // レスポンスをログに出力

        // 全体のレスポンスデータをチェック
        if (data && data.body) {
            console.log('Response Body:', data.body);  // レスポンスボディをログに出力
        }

        // presigned_urlを直接取得
        if (data.body && data.body.presigned_url) {
            const imageUrl = data.body.presigned_url;
            document.getElementById('generated-image').src = imageUrl;
            document.getElementById('generated-image').style.display = 'block';
        } else {
            console.error('Image URL not found in response:', data);
        }
    });
</script>
{% endblock %}

