{% extends 'base.html' %}

{% block title %}パートナー会社詳細{% endblock %}

{% block contents %}
<div class="container mt-5">
    <!-- 上部のレイアウト -->
    <div class="row">
        <div class="col-md-3">
            {% if partner.logo %}
                <img src="{{ partner.logo.url }}" alt="企業ロゴ" class="img-fluid">
            {% else %}
                <p>ロゴなし</p>
            {% endif %}
        </div>
        <div class="col-md-9">
            <h1>{{ partner.name }}</h1>
            {% comment %} <p><a href="{{ partner.url }}" target="_blank">{{ partner.url }}</a></p> {% endcomment %}
            <div>
                <h3>サービス概要</h3>
                <p>{{ partner.service }}</p>
            </div>
        </div>
    </div>
    <!-- 下部のレイアウト -->
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ partner.name }}</h4>
                    <p class="card-text">
                        <strong>所在地:</strong> {{ partner.address }}<br>
                        <strong>URL:</strong> <a href="{{ partner.url }}" target="_blank">{{ partner.url }}</a><br>
                        <strong>設立年:</strong> {{ partner.established.year }}年<br>
                        <strong>全国対応:</strong> {{ partner.is_nationwide }}<br>
                        <strong>サービス提供方法:</strong> {{ partner.service_method }}<br>
                        <strong>コスト感:</strong> 
                        {% for item in partner.cost.all %}
                            <span class="badge badge-secondary">{{ item.breakdown }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <h3>提供サービス</h3>
                <p>
                    {% for item in partner.service_content.all %}
                        <span class="badge badge-secondary">{{ item.division }}</span>
                    {% endfor %}
                </p>
            </div>
            <div>
                <h3>AIカテゴリー</h3>
                <p>
                    {% for item in partner.ai_category.all %}
                        <span class="badge badge-secondary">{{ item.genre }}</span>
                    {% endfor %}
                </p>
            </div>
            <div>
                <h3>得意業種</h3>
                <p>
                    {% for item in partner.specialty_industry.all %}
                        <span class="badge badge-secondary">{{ item.name }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <a href="{% url 'partners:index' %}" class="btn btn-secondary">パートナー一覧に戻る</a>
    </div>
</div>
{% endblock %}



